@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: rgb(255, 255, 255);
}
#navbarfinal{
height: 80px;
background: #fff;
position: fixed;
display: flex;
align-items: center;
padding: 0;
margin-top: 50px;
z-index: 20;
box-shadow: 0 4px 30px rgba(0,0,0,.08);
}
#titlediv{
  margin-top: 97px;
}
#main-logo-image{
    width: 300px; /* width of container */
    height: 40px; /* height of container */
    object-fit:cover;
}
#first{
    margin-top: 12px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-right: 24px;
}
#second{
  margin-top: 100px;
}
#titlebtn1{
  color: rgb(253, 253, 253);
  background: #2596BE;
}
#titlebtn1:hover{
  background:white;
  color:#2596BE;
}
#titlebtn2{
  color: rgb(253, 253, 253);
  background: #2596BE;
}
#titlebtn2:hover{
  background:white;
  color:#2596BE;
}
#second{
   
}

#carouselExampleSlidesOnly{
  height: 250px;
  width: 250px;
  /* padding-left: 122px; */
  margin-left: 122px;
}
#loginbtn{
  font-weight: bolder;
}
#loginbtn:hover{
   color:white;
   background: #2596BE;
   border-radius: 5%;
}
.card{
    border: 2px solid black;
}
#exambtn{
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(253, 253, 253);
    background: #2596BE;
    margin-top: 20px;
    position: relative;
    right: -555px;
}
#exambtn:hover{
    background:white;
    color:#2596BE;
}

#slider {
    position: relative;
    width: 50%;
    height: 30vw;
    margin: 80px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
    /* overflow-y: hidden; */
  }
  
  input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
  }
  
  
  input[type=radio]:nth-child(5) {
    margin-right: 0px;
  }
  
  input[type=radio]:checked {
    opacity: 1;
  }
  
  
  
  
  #slider label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
  }
  
  #slide1 {
    /* background-image: url(images/Untitled\ design.png);
    background-repeat: no-repeat;
    background-position: center; */
    background: rgb(0, 0, 0);
  }
  
  #slide2 {
    background: rgb(0, 0, 0);
  }
  
  #slide3 {
    background: rgb(0, 0, 0);
  }
  
  #slide4 {
    background: rgb(0, 0, 0);
  }
  
  #slide5 {
    background: rgb(0, 0, 0);
  }
  
  
  /* Slider Functionality */
  
  /* Active Slide */
  #s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
  }
  
  /* Next Slide */
  #s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(15%, 0, -100px);
  }
  
  
  /* Next to Next Slide */
  #s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(30%, 0, -250px);
  }
  
  /* Previous to Previous Slide */
  #s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-30%, 0, -250px);
  }
  
  /* Previous Slide */
  #s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-15%, 0, -100px);
  }
  .btn{
      margin-right: 120px;
  }


  #third{
    
    height: 715px;
  }
  #Examination{
    color: #2596BE;
  }
  #popular{
    color: #2596BE;
  }
  #reads{
    color: #2596BE;
  }
  #popularexams{
      margin-left: 130px;
      /* display: flex; */
      /* justify-content: center; */
      /* align-items: center; */

  }

  .circle
{
  height: 367px;
  width: 367px;
  border-radius: 50%;
  position: absolute;
  top: 97%;
  left: 75%;
  background: radial-gradient(#ffffffca,#48D4FF 70%);
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 9.15); */
  z-index: 0;
}
.circle2
{
    top: 45%;
    left: 51%;
    background: radial-gradient(#ffffffca,#E91E63 70%);
}
hr{
  color: #2596BE;
}
.bbDivider {
  background-color: #2596BE;
  border-radius: 10px;
  height: 2.5px;
  text-align: center;
margin-top: 0px;
}